# üìä *An√°lisis de Ventas Retail - Superstore Dataset*

---

**Autor:** Bryan Coronado  
**Fecha:** Enero 2026  
**Dataset:** Superstore Sales (2014-2017)

---

## üéØ Objetivos del Proyecto

Este proyecto realiza un an√°lisis completo de datos de ventas retail con los siguientes objetivos:

1. **An√°lisis Exploratorio:** Identificar patrones, tendencias y anomal√≠as en los datos
2. **An√°lisis de Rentabilidad:** Determinar productos, categor√≠as y regiones m√°s rentables
3. **Segmentaci√≥n de Clientes:** Analizar el comportamiento de diferentes segmentos
4. **An√°lisis Temporal:** Identificar estacionalidad y tendencias temporales
5. **Modelo Predictivo:** Desarrollar modelo de Machine Learning para predecir rentabilidad

---
<a id='0'></a>
## üìã *Tabla de Contenidos*

1. [Importaci√≥n de Librer√≠as](#1)
2. [Carga y Exploraci√≥n Inicial de Datos](#2)
3. [Limpieza y Transformaci√≥n de Datos](#3)
4. [An√°lisis Exploratorio de Datos (EDA)](#4)
   - 4.1 [An√°lisis de Ventas y Ganancias](#4.1)
   - 4.2 [An√°lisis por Categor√≠a y Subcategor√≠a](#4.2)
   - 4.3 [An√°lisis Geogr√°fico](#4.3)
   - 4.4 [An√°lisis Temporal](#4.4)
   - 4.5 [An√°lisis de Clientes](#4.5)
   - 4.6 [An√°lisis de Descuentos](#4.6)
5. [Feature Engineering](#5)
6. [Modelado Predictivo](#6)
7. [Conclusiones y Recomendaciones](#7)

---

---
<a id='1'></a>
## 1. üìù Importaci√≥n de librer√≠as [‚¨Ü](#0)

In [2]:
# ============================================================================
# 1. IMPORTACI√ìN DE LIBRER√çAS
# ============================================================================

# Manipulaci√≥n de datos
import pandas as pd
import numpy as np

# Visualizaci√≥n
import matplotlib.pyplot as plt
import seaborn as sns

# An√°lisis estad√≠stico
from scipy import stats

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score, classification_report, confusion_matrix
from sklearn.metrics import mean_absolute_error

# Utilidades
import warnings
from datetime import datetime

# Configuraci√≥n
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

# Estilo de gr√°ficos
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

# Tama√±o de figuras por defecto
plt.rcParams['figure.figsize'] = (12, 6)
plt.rcParams['font.size'] = 10

print("‚úÖ Librer√≠as importadas exitosamente")
print(f"Fecha de ejecuci√≥n: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

‚úÖ Librer√≠as importadas exitosamente
Fecha de ejecuci√≥n: 2026-01-29 12:34:33

---
<a id='2'></a>
## 2. üìÇ Carga y Exploraci√≥n Inicial de Datos [‚¨Ü](#0)

In [3]:
# ============================================================================
# 2. CARGA DE DATOS
# ============================================================================

# Cargar el dataset
df = pd.read_csv('../data/raw/superstore_sales_utf8.csv')

print("-" * 33)
print("DATASET CARGADO EXITOSAMENTE ‚úÖ")
print("-" * 33)

# Informaci√≥n b√°sica
print(f"\nDimensiones del dataset:")
print(f"   ‚Ä¢ Registros (filas): {df.shape[0]:,}")
print(f"   ‚Ä¢ Variables (columnas): {df.shape[1]}")

print(f"\nColumnas del dataset:")
for i, col in enumerate(df.columns, 1):
    print(f"   {i:2d}. {col}")

---------------------------------
DATASET CARGADO EXITOSAMENTE ‚úÖ
---------------------------------

Dimensiones del dataset:
   ‚Ä¢ Registros (filas): 9,994
   ‚Ä¢ Variables (columnas): 21

Columnas del dataset:
    1. Row ID
    2. Order ID
    3. Order Date
    4. Ship Date
    5. Ship Mode
    6. Customer ID
    7. Customer Name
    8. Segment
    9. Country
   10. City
   11. State
   12. Postal Code
   13. Region
   14. Product ID
   15. Category
   16. Sub-Category
   17. Product Name
   18. Sales
   19. Quantity
   20. Discount
   21. Profit

In [33]:
# Primeras filas
print("-" * 40)
print("Primeras 5 filas del dataset:")
print("-" * 40)
display(df.head())

# √öltimas filas
print("-" * 40)
print("√öltimas 5 filas del dataset:")
print("-" * 40)
display(df.tail())

----------------------------------------
Primeras 5 filas del dataset:
----------------------------------------

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.00,41.91
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.00,219.58
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.00,6.87
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.58,5,0.45,-383.03
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.37,2,0.20,2.52

----------------------------------------
√öltimas 5 filas del dataset:
----------------------------------------

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.25,3,0.20,4.10
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.96,2,0.00,15.63
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.58,2,0.20,19.39
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,0.00,13.32
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.00,72.95

In [34]:
# ============================================================================
# INFORMACI√ìN DETALLADA DEL DATASET
# ============================================================================

# Info general
print("\nTipos de datos y valores no nulos:")
df.info()

Tipos de datos y valores no nulos:
<class 'pandas.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   str
 2   Order Date     9994 non-null   str
 3   Ship Date      9994 non-null   str
 4   Ship Mode      9994 non-null   str
 5   Customer ID    9994 non-null   str
 6   Customer Name  9994 non-null   str
 7   Segment        9994 non-null   str
 8   Country        9994 non-null   str
 9   City           9994 non-null   str
 10  State          9994 non-null   str
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   str
 13  Product ID     9994 non-null   str
 14  Category       9994 non-null   str
 15  Sub-Category   9994 non-null   str
 16  Product Name   9994 non-null   str
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), str(15)
memory usage: 1.6 MB

In [35]:
# ============================================================================
# ESTAD√çSTICAS DESCRIPTIVAS
# ============================================================================

# Estad√≠sticas de variables num√©ricas
print("\nVariables num√©ricas:")
display(df.describe())

# Estad√≠sticas de variables categ√≥ricas
print("\nVariables categ√≥ricas:")
categorical_cols = df.select_dtypes(include=['object']).columns
cat_stats = pd.DataFrame({
    'Columna': categorical_cols,
    'Valores √önicos': [df[col].nunique() for col in categorical_cols],
    'Valor M√°s Frecuente': [df[col].mode()[0] if len(df[col].mode()) > 0 else None for col in categorical_cols],
    'Frecuencia': [df[col].value_counts().iloc[0] if len(df[col]) > 0 else 0 for col in categorical_cols]
})

display(cat_stats)

Variables num√©ricas:

       Row ID  Postal Code    Sales  Quantity  Discount   Profit
count 9994.00      9994.00  9994.00   9994.00   9994.00  9994.00
mean  4997.50     55190.38   229.86      3.79      0.16    28.66
std   2885.16     32063.69   623.25      2.23      0.21   234.26
min      1.00      1040.00     0.44      1.00      0.00 -6599.98
25%   2499.25     23223.00    17.28      2.00      0.00     1.73
50%   4997.50     56430.50    54.49      3.00      0.20     8.67
75%   7495.75     90008.00   209.94      5.00      0.20    29.36
max   9994.00     99301.00 22638.48     14.00      0.80  8399.98

Variables categ√≥ricas:

          Columna  Valores √önicos Valor M√°s Frecuente  Frecuencia
0        Order ID            5009      CA-2017-100111          14
1      Order Date            1237            9/5/2016          38
2       Ship Date            1334          12/16/2015          35
3       Ship Mode               4      Standard Class        5968
4     Customer ID             793            WB-21850          37
5   Customer Name             793       William Brown          37
6         Segment               3            Consumer        5191
7         Country               1       United States        9994
8            City             531       New York City         915
9           State              49          California        2001
10         Region               4                West        3203
11     Product ID            1862     OFF-PA-10001970          19
12       Category               3     Office Supplies        6026
13   Sub-Category              17             Binders        1523
14   Product Name            1850     Staple envelope          48

In [40]:
# ============================================================================
# VERIFICACI√ìN DE CALIDAD DE DATOS
# ============================================================================

# Valores nulos
print("Verificaci√≥n de valores nulos:")
null_counts = df.isnull().sum()
null_percentages = (df.isnull().sum() / len(df)) * 100

null_summary = pd.DataFrame({
    'Columna': null_counts.index,
    'Valores Nulos': null_counts.values,
    'Porcentaje': null_percentages.values
})

if null_counts.sum() > 0:
    print(null_summary[null_summary['Valores Nulos'] > 0])
else:
    print("‚úÖ No hay valores nulos en el dataset")

# Duplicados
print(f"\nVerificaci√≥n de registros duplicados:")
duplicates = df.duplicated().sum()
print(f"‚Ä¢ Registros duplicados: {duplicates:,}")
if duplicates > 0:
    print(f"‚Ä¢ Porcentaje: {(duplicates/len(df)*100):.2f}%")
else:
    print("‚úÖ No hay registros duplicados")

# Resumen de calidad
print(f"\nResumen de calidad:")
print(f"‚Ä¢ Dataset completo: {'‚úÖ S√≠' if null_counts.sum() == 0 else '‚ö†Ô∏è No'}")
print(f"‚Ä¢ Sin duplicados: {'‚úÖ S√≠' if duplicates == 0 else '‚ö†Ô∏è No'}")
print(f"‚Ä¢ Calidad general: {'üü¢ Excelente' if null_counts.sum() == 0 and duplicates == 0 else 'üü° Buena'}")

Verificaci√≥n de valores nulos:
‚úÖ No hay valores nulos en el dataset

Verificaci√≥n de registros duplicados:
‚Ä¢ Registros duplicados: 0
‚úÖ No hay registros duplicados

Resumen de calidad:
‚Ä¢ Dataset completo: ‚úÖ S√≠
‚Ä¢ Sin duplicados: ‚úÖ S√≠
‚Ä¢ Calidad general: üü¢ Excelente

---
<a id='3'></a>
## 3. üîß Limpieza y Transformaci√≥n de Datos [‚¨Ü](#0)

In [60]:
# ============================================================================
# TRANSFORMACI√ìN DE FECHAS
# ============================================================================

# Conversi√≥n de formatos a datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%m/%d/%Y')

# Verificaci√≥n despu√©s de la conversi√≥n
print('-' * 40)
print("- Tipos de datos despu√©s de la conversi√≥n:")
print('-' * 40)
print(df[['Order Date', 'Ship Date']].dtypes)

# Variables temporales
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
df['Day_of_Week'] = df['Order Date'].dt.dayofweek
df['Month_Name'] = df['Order Date'].dt.month_name()
df['Quarter'] = df['Order Date'].dt.quarter

# Columna para calcular tiempo de entrega en env√≠os
df['Shipping_Days'] = df['Ship Date'] - df['Order Date']

# Verificaci√≥n de columnas nuevas
print('\n', '-' * 30)
print('Columnas nuevas a√±adidas:')
print('-' * 30)
display(df[['Year', 'Month', 'Day_of_Week', 'Month_Name', 'Quarter', 'Shipping_Days']].head(5))

# Verificaci√≥n de columna de tiempo de entrega
print('-' * 32)
print('¬øTiempos de entrega?')
print('-' * 32)
print(f'Tiempo m√≠nimo de entrega: {df['Shipping_Days'].dt.days.min()} d√≠as')
print(f'Tiempo m√°ximo de entrega: {df['Shipping_Days'].dt.days.max()} d√≠as')
print(f'D√≠as promedio de entrega: {round(df['Shipping_Days'].dt.days.mean(),)} d√≠as')

----------------------------------------
- Tipos de datos despu√©s de la conversi√≥n:
----------------------------------------
Order Date    datetime64[us]
Ship Date     datetime64[us]
dtype: object

 ------------------------------
Columnas nuevas a√±adidas:
------------------------------

   Year  Month  Day_of_Week Month_Name  Quarter Shipping_Days
0  2016     11            1   November        4        3 days
1  2016     11            1   November        4        3 days
2  2016      6            6       June        2        4 days
3  2015     10            6    October        4        7 days
4  2015     10            6    October        4        7 days

--------------------------------
¬øTiempos de entrega?
--------------------------------
Tiempo m√≠nimo de entrega: 0 d√≠as
Tiempo m√°ximo de entrega: 7 d√≠as
D√≠as promedio de entrega: 4 d√≠as